<div class="row" *ngFor="let item of proArr">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://localhost:7178/api/Images/getImages/{{item.productImage}}" alt="Card image cap" style="width:100px;">
      <div class="card-body">
        <h5 class="card-title">{{item.productName}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p>
          <input type="number" [(ngModel)]="cartObject.Quantity" value="1" />
        </p>
        <button type="button" class="btn btn-primary" (click)="addCartItem(item.productId)">add to cart</button>
      </div>
    </div>
  </div>
</div>
